@media screen and (min-width: 1024px)
{
    .criteria-page{}

    .page-title
    {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--dark-blue);
        margin-bottom: 10px;
    }
    .page-title i
    {
        margin-right: 10px;
    }

    .criteria-data-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}