@media screen and (min-width: 1024px)
{
    .section-container
    {
        display: flex;
        flex-direction: column;
        width: 24%;
        padding: 10px;
        max-height: calc(100vh - 70px);
        background-color: var(--white);
    }
    .section-container::-webkit-scrollbar
    {
        width: 0;
        appearance: none;
    }
    .container-title
    {
        color: var(--text-gray);
        font-weight: 500;
    }

    .section-container-header{
        display: flex;
        flex-direction: column;
    }

    .section-container-header .search-pad-container,
    .section-container-header .add-button-container{
        margin: 5px 0;
    }

    .section-container-header .add-button-container button{
        border: none;
        width: 100%;
        color: var(--white);
        background: var(--yellow);
        padding: 2px 10px;
        border-radius: 15px;
    }

    .section-container-header .add-button-container button i{
        margin-right: 10px;
    }

    .section-data-container{
        flex: 1;
        overflow: auto;
    }
    .section-data-container::-webkit-scrollbar{
        width: 0;
    }
}