@media screen and (min-width: 1024px)
{
    .dashboard-page{}

    .dashboard-data-container{
      height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden scroll;
    }

    .dashboard-data-container::-webkit-scrollbar{
       appearance: none;
       display: none;
    }

    .dashboard-data-container::-webkit-scrollbar-button{
       appearance: none;
       display: none;
    }

    .dashboard-data-container::-webkit-scrollbar-thumb{
       appearance: none;
       display: none;
    }
}